extends layout

block content
 h1 （h是header的意思）h1是大标题的意思
 h2 h2是次标题的意思

 h3 依次往下越来越|小的标题的意思

 p （p是paragraph段落的意思）
 p html段落是通过
     |<
     |p>标签来定义的，p是paragraph的缩写，经常被用来创建一个段落，就和你写作文是一样的
     |大不了把大部分lab了部分大部分vp
 a(href="http://www.baidu.com") 百度
     |大时代发
     |发给
 h3 换货





  //each data in JSON.parse(entries)
  //    p
  //    a(href="/artucl/#{data.id}") #{data.title}
  //    published: #{data.published}










