doctype html
html
  head
    meta(charset='utf-8')
    title #{title}
    link(rel='stylesheet',type='text/css',href='/stylesheets/layout.css')
  body
    .top
      span.shouye 首页
      span.ziwojs 自我介绍
      span.jisuan 计算页
      block content


